@import "tailwindcss";


:root {
  --background: #A90E0E;
  --foreground: #000000;
  --corPrincipal: #A90E0E;
}


/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --corPrincipal: #A90E0E;
  }
} */

.corPrincipal {
  background: var(--corPrincipal);
}



body {
  font-family: 'var(--montserrat)', sans-serif;
  background: var(--background);
  color: var(--foreground);
}
